<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device=width, intial-scale=1"/>
  <head>
  <link rel= "stylesheet" 
    type= "text/css"
    href = "stylesheet.css" />
  </head>
</head>
<body>

<div class="header">
    <img src = "WebBanner3.jpg" align="center">
</div>

<div class="row">
  <div class="col-3 col-s-3 menu">
    <ul>
      <li><a href="index.html" title="Home Page">Home Page</a> </li>
      <li><a href="contact.html" title="Contact Us">Contact Us</a></li>
      <li><a href="about.html" title="About Us">About Us</a></li>
    </ul>
  </div>

  <div class="col-6 col-s-9">
    <h2>About Us</h2>
<br/>
<br/>
This website is a HTML/CSS Template assignment developed by student Bailey, 
it is made as purpose for The Gordon TAFE Web Systems Programming class with Program Manager Steve
Gale. 

Involved is the development of HTML web pages and a CSS stylesheet.
<br/>
<br/>
<br/>
<br/>
<br/>
<table style="width:100%">
	<tr>
	  <td>Banner image</td>
	  <td>Background Image</td>
	  <td>Functional Links in list.</td>
	  <td>Content</td>
	  <td>Footer</td>
	</tr>
	<tr>
	  <td>Banner</td>
		<td>Background</td>
		<td>Links</td>
		<td>Footer</td>
	  <td>Form</td>
	</tr>
	<tr>
		<td>Banner</td>
		<td>Background</td>
		<td>Links</td>
		<td>Footer</td>
	  <td>Table</td>
	</tr>
  </table>
  </div>

  <div class="col-3 col-s-12">
    <div class="aside">
      <h2>About Us</h2>
      <p>Developed in September 2019 for Web Systems Programming UEE60411 ADCSE Gordon TAFE module.</p>
    </div>
  </div>
</div>
<div class="footer">
  <p>&copy; HTML/CSS Bailey Hall Student #: 13177386 02/09/2019.</p>
</div>

</body>
</html>
