<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device=width, intial-scale=1"/>
  <head>
  <link rel= "stylesheet" 
    type= "text/css"
    href = "stylesheet.css" />
  </head>
</head>
<body>

<div class="header">
    <img src = "WebBanner3.jpg" align="center">
</div>

<div class="row">
  <div class="col-3 col-s-3 menu">
    <ul>
      <li><a href="index.html" title="Home Page">Home Page</a> </li>
      <li><a href="contact.html" title="Contact Us">Contact Us</a></li>
      <li><a href="about.html" title="About Us">About Us</a></li>
    </ul>
  </div>

  <div class="col-6 col-s-9">
 <h2>Contact Us</h2><br>
<form action="/action_page.php">
	First name:<br>
	<input type="text" name="firstname" value="Enter your name"><br>
	<br/>Last name:<br>
	<input type="text" name="lastname" value="Enter your lastname"><br><br>
   Last name:<br>
	<input type="text" name="email" value="Enter your email"><br><br>
   Message:<br>
	<textarea cols="30" rows="2">Please enter your message that you would like to send to with your contact request.</textarea>
    <br/><input type="submit" value="Submit">
  </form>
  </div>

  <div class="col-3 col-s-12">
    <div class="aside">
      <h2>Contact Us</h2>
      <p>Feel free to send us a enquiry, questions or suggestions!</p>
      <p> Feedback is very much welcome and encouraged from site users.</p>
    </div>
  </div>
</div>
<div class="footer">
  <p>&copy; HTML/CSS Bailey Hall Student #: 13177386 02/09/2019.</p>
</div>

</body>
</html>
